-# render a sortable list of ajax editable steps
%ul.order-recipe-steps
  - recipe.recipe_steps.each do |recipe_step|
    = render recipe_step

%a{href: new_recipe_step_path, method: :post, remote: :true} Add Step

:javascript
    $(document).on('js:initialized', function() {
        set_positions();

        $('.order-recipe-steps').sortable({
            placeholder: "sortable-placeholder",
            start: function(e, ui) {
                console.log(ui.placeholder);
                ui.item
                ui.placeholder.height(ui.item.outerHeight() + 4);
            },
            stop: function(e, ui) {
            }
        });

        $('.order-recipe-steps').sortable().bind('sortupdate', function(e, ui) {
            // array to store new order
            updated_order = []
            // set the updated positions
            set_positions();

            // populate the updated_order array with the new task positions
            $('.order-recipe-steps .recipe-step').each(function(i){
                updated_order.push({ id: $(this).data("id"), position: i+1 });
            });

            // send the updated order via ajax
            $.ajax({
                type: 'PUT',
                url: '/recipe_steps/sort',
                data: { recipe_steps: updated_order }
            });
        });
    });

    set_positions = function(){
        $('.order-recipe-steps .recipe-step').each(function(i){
            $(this).attr("data-pos",i+1);
        });
    };
