%li.recipe-step{'data-id' => recipe_step.id}
  .dragger
    -# - if recipe_step.stepable.class == Recipe
    -#   = render 'sub_recipe', recipe: recipe_step.stepable
    -# - if recipe_step.stepable.nil?
    -#   Nil Recipe Step, something went wrong
    -# - else
    -#   = render recipe_step.stepable

  - if recipe_step.stepable.present?
    .edit-step-button
      = render_recipe_step_ajax_edit_field(recipe_step.stepable)
