// render Step
.step {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-areas:
  'title'
  'ingredients'
  'description ';

  @include breakpoint(large up) {
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
    'title ingredients'
    'description description';
  }

  .title {
    grid-area: title;
  }

  .ingredients {
    grid-area: ingredients;
  }

  .description {
    grid-area: description;
  }
}
