// render Step
.step {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
  'title ingredients'
  'description description';

  .title {
    grid-area: title;
  }

  .ingredients {
    grid-area: ingredients;
  }

  .description {
    grid-area: description;
  }
}
