.flash {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 16px;
  color: $black;
  background-color: $off-white;
  border-radius: 4px;
  transition: background-color .25s ease-out, box-shadow .25s ease-out;

  &::after {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
    content: '×';
  }

  &.error,
  &.alert,
  &.warning {
    color: darken($warn, 65%);
    background-color: $warn;
  }

  &.notice {
    color: darken($notice, 65%);
    background-color: $notice;
  }

  &.success {
    color: darken($success, 65%);
    background-color: $success;
  }
}
