.input {
  &.error {
    position: relative;
    padding-bottom: 27px;

    input,
    textarea,
    select {
      margin-bottom: 0;
    }

    .error {
      position: absolute;
      top: 100%;
      left: 0;
      color: darken($warn, 75%);
      transform: translateY(-100%);
    }
  }

  textarea {
    min-height: 200px;
  }
}

.inline-fields {
  input,
  textarea,
  select {
    margin: 0;
  }
}
