.step
  %h4.title= step.title
  - if step.step_ingredients.any?
    .ingredients
      - step.step_ingredients.each do |step_ingredient|
        = render step_ingredient

  %p.description= step.description
