.measurement-fields.fields
  .combined-measurement-field.inline-fields
    = f.input :scalar,
              label: false,
              wrapper_html: { class: 'measurement-scalar' }

    = f.input :unit,
              as: :select,
              collection: Unit.measurements.map { |k,v| [v,k] },
              label: false,
              wrapper_html: { class: 'measurement-unit' }

  = link_to_remove_association('Remove Measurement', f,
                               { wrapper_class: 'measurement-fields' })
