.ingredient {
  display: grid;
  padding: 4px 8px 16px;
  grid-template-columns: 48px 3fr 1fr;
  grid-template-rows: 24px 24px auto;
  grid-template-areas:
    'checkbox title measurements'
    'checkbox technique measurements'
    '. . measurements';

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: checkbox;

    input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;
    }

    label {
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      cursor: pointer;
      border: 1px solid $light;
      border-radius: 4px;
    }

    .checked {
      border-color: $medium;

      &::after {
        position: absolute;
        top: 40%;
        left: 50%;
        display: block;
        width: 20px;
        height: 12px;
        border-bottom: 3px solid $medium;
        border-left: 3px solid $medium;
        content: '';
        transform: translate(-50%, -50%) rotate(-50deg);
      }
    }
  }

  .title {
    grid-area: title;
  }

  .technique {
    min-height: 24px;
    grid-area: technique;
    font-size: 10px;
  }

  .measurements {
    grid-area: measurements;
  }
}

.split-notice {
  font-size: 10px;
}
