.measurement-fields {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  select,
  input {
    margin-bottom: 0;
  }

  .button {
    height: 39px;
    line-height: 39px;
    border-radius: 0 4px 4px 0;
  }
}

.measurement-unit {
  flex-grow: 1;
}

.measurement-scalar {
}

.measurement-label {
  padding-right: 8px;
}
