.measurement-fields {
  display: flex;
  flex-direction: row;
}

.combined-measurement-field {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;

  div {
  }
}

.measurement-unit {
  width: 50%;
}

.measurement-scalar {
  width: 50%;
}
