.recipe {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    'title'
    'info'
    'ingredients'
    'steps';

  @include breakpoint(large up) {
    grid-template-areas:
      'title title'
      'info ingredients'
      'steps steps';
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(xlarge up) {
    grid-template-areas:
      'title title'
      'info info'
      'steps ingredients';
    grid-template-columns: 1fr 416px;
  }

  .title {
    grid-area: title;
  }

  .info {
    grid-area: info;
  }

  .ingredients {
    grid-area: ingredients;
  }

  .recipe-steps {
    grid-area: steps;
  }
}
