%nav.site-nav
  %ul.quick-nav
    %li |

  %button.main-nav-button.action-toggle-main-nav
    -
  %ul.main-nav
    %li= link_to 'Recipes', recipes_path
    %li= link_to 'Techniques', techniques_path
    %li= link_to 'Ingredients', ingredients_path
